/*
* @Author: Simple
* @Date:   2018-06-01 22:18:03
* @Last Modified by:   Simple
* @Last Modified time: 2018-06-02 16:51:24
*/
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
.header-container {
	width: 100%;
	background: #858585;
	color: #fff;
	padding: 30px;
}
.main-container {
	/*padding-left: 30px;*/
}
.basis-info, .contact-info, .ability-info, .edcation-info, .project-info {
	display: flex;
}
h3 {
	background: #D6D6D6;
	margin: 0;
	margin-bottom: 2px;
	height: 100px;
	line-height: 100px;
	padding: 0 20px;
	font-size: 16px;
	font-weight: bold;
}
.detail {
	padding: 10px;
}

p {
	margin: 0;
	display: inline-block;
	height: auto;
}

.basis-info span, .contact-info span {
	margin-right: 10px;
}

.info-title {
	font-weight: bold;
	margin-right: 5px;
}
.item {
	margin-bottom: 10px;
}