/*
* @Author: Simple
* @Date:   2018-05-31 23:54:41
* @Last Modified by:   Simple
* @Last Modified time: 2018-06-01 22:04:04
*/
body {
	padding: 5px 25px;
}
span {
	margin-right: 30px;
}
.info-title {
	font-weight: bold;
	margin-right: 5px;
}
